# .github/workflows/build.yml
name: Build Executables

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - run: pip install pyinstaller PyPDF2
    - run: pyinstaller --onefile --windowed pdf_merger.py
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}-executable
        path: dist/*